button {
  margin-left: 10px;
}
.subscribe-btn {
  background-color: rgb(207, 10, 10);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.subscribe-btn:hover {
  opacity: 0.8;
}

.subscribe-btn:active {
  opacity: 0.5;
}

.join-btn {
  background-color: white;
  color: rgb(13, 148, 201);
  border-color: rgb(13, 148, 201);
  border-width: 1px;
  padding: 9px 18px;
  border-radius: 2px;
  cursor: pointer;
  transition:
    color 0.15s,
    background-color 0.15,
    opacity 0.15s;
}

.join-btn:hover {
  color: white;
  background-color: rgb(13, 148, 201);
}

.join-btn:active {
  opacity: 0.7;
}

.tweet-btn {
  background-color: rgb(13, 148, 201);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 16px;
  cursor: pointer;
}

.tweet-btn:hover {
  opacity: 0.8;
}

.tweet-btn:active {
  opacity: 0.5;
}
