body {
  font-family: Arial, Helvetica, sans-serif;
}

h2,
p {
  margin: 0;
}

.inside__div {
  display: grid;
  grid-template-columns: 50px 1fr;
  /* background: blue; */
  align-items: center;
}

.inside__div img {
  border-radius: 999px;
  width: 50px;
}

.inside__div p {
  padding-left: 5px;
  font-size: 22px;
  color: grey;
}

.insde__div__2 {
  display: grid;
  padding: 12px;
  row-gap: 10px;
}

.insde__div__2 h2 {
  font-size: 28px;
}

.all__items {
  width: 400px;
  /* border: 2px solid black; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* .all__items img{
    width: 100%;
} */

.main__img {
  object-fit: cover;
  object-position: -500px;
  width: 900px;
}

.insde__div__2 button {
  width: 120px;
  background: rgb(0, 132, 255);
  color: white;
  font-size: 20px;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.content__div {
  display: grid;
  grid-template-columns: 405px 405px 405px;
  column-gap: 20px;
}
