body {
  font-family: "Roboto", Arial;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

input {
  display: block;
}

.img {
  width: 400px;
  display: inline-block;
}

#channel-pic {
  display: inline-block;
  width: 40px;
  border-radius: 50%;
  background: red;
}

#outer-div-1 {
  display: inline-block;
  width: 400px;
  vertical-align: top;
  /* background: red; */
}

#outer-div-2 {
  display: inline-block;
  margin-left: 15px;
  /* background: blue; */
}

#outer-div-3 {
  vertical-align: top;
  display: inline-block;
  margin-left: 15px;
  /* background: blue; */
}

#outer-div-4 {
  display: inline-block;
  margin-left: 15px;
  /* background: blue; */
}

#outer-div-5 {
  display: inline-block;
  width: 400px;
  vertical-align: top;
  /* background: red; */
}

#outer-div-6 {
  display: inline-block;
  margin-left: 15px;
  /* background: blue; */
}

#channel-div {
  /* background: gray; */
}

#channel-thumbnail-grid {
    /* creating a grid by setting display to grid and grid-template columns */
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-top: 5px;
  /* background: blue; */
}

#info-div {
  width: 300px;
  /* background: gray; */
}

#youtube-name {
  margin-top: 20px;
  margin-bottom: 5px;
}

#title-p {
  margin-top: 0px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

#youtube-name {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 10px;
  margin-bottom: 1px;
}

#youtube-details {
  font-size: 14px;
  color: rgb(96, 96, 96);
}
