#div-1 {
  background-color: lightblue;
}

#div-2 {
  background-color: lightpink;
}

#div-3 {
  background-color: lightgreen;
}

#div-1-a {
  background-color: lightblue;
  height: 300px;
}

#div-2-a {
    background-color: lightpink;
    height: 300px;
}

#div-3-a {
    background-color: lightgreen;
    height: 300px;
}

#outer-div-1 {
  display: grid;
  grid-template-columns: 100px 100px;
}

#outer-div-2 {
  display: grid;
  grid-template-columns: 100px 100px 200px;
  margin-top: 30px;
}

#outer-div-3 {
  display: grid;
  grid-template-columns: 100px 1fr;
  margin-top: 30px;
}

#outer-div-4 {
  display: grid;
  grid-template-columns: 100px 1fr 2fr;
  margin-top: 30px;
}

#outer-div-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
  /* setting a gap between the grid elemets with column gap and row gap */
  column-gap: 20px;
  row-gap: 40px;
}
