body {
  font-family: "calibri";
}

#inner-name-1 {
  font-size: 20px;
  font-weight: bold;
}

p {
  margin: 0px;
}

#inner-info-1 {
  color: rgb(122, 122, 122);
}

#outer-div-1 {
  width: 270px;
  height: 400px;
  display: inline-block;
  /* border: 3px solid purple; */
}

img {
  display: inline-block;
  width: 270px;
  height: 300px;
  object-fit: cover;
  object-position: 0px;
  /* border: 3px solid blue; */
}

#image-container-1 {
  width: 270px;
  border-radius: 2px;
  /* border: 3px solid red; */
  box-shadow: 2px 2px 5px rgb(204, 204, 204);
}

button {
  margin-top: 10px;
  background-color: rgb(82, 137, 255);
  border: none;
  color: white;
  padding: 10px 12px;
  border-radius: 5px;
}

#text-div-1 {
  padding: 0px 5px 10px 10px;
}
