img{
    width: 350px;
    margin-left: 20px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: brown;
}

.img1{
    border-radius: 10px;
}

.img2{
    width: 195px;
    height: 195px;
    object-fit: cover;
    object-position: -150px;
}

.img3{
    width: 195px;
    height: 195px;
    border-radius: 500px;
    object-fit: cover;
    object-position: 0px;
}